@font-face {
    font-family: 'Poppins';
    src: url(../signup_login/fonts/Poppins-Variable.ttf);
}

@font-face {
    font-family: 'Satoshi';
    src: url(../signup_login/fonts/Satoshi-Variable.ttf);   
}

@font-face {
    font-family: 'Synonym';
    src: url(../signup_login/fonts/Synonym-Bold.otf);
}

.logo {
    font-family: 'Synonym';
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    color: black;
    position: absolute;
}

#pencil , #trashCan{  
    background: none;
    padding: 0;
    cursor: pointer;

    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; 
}

#logOUT {

    position: relative;
    left: 80vw;

    width: 173px;
    height: 42px;
    border-radius: 17px;
    background: #FBFBFB;

    color: #323232;
    text-align: left;
    padding-left: 43px;
    font-family: Poppins Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#editableTable {

    border-collapse: collapse;
    width: 70%; 

    border-radius: 10px;
    background: #323232;
    overflow-x: auto;
    overflow-y: scroll;
    /* max-height: 300px; */

    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%);
}

thead {
    display: table;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody {
    display: block;
    overflow-y: scroll;
    height: 500px;
}

#newAddBtn {
    width: 173px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #FBFBFB;

    color: #323232;
    text-align: left;
    padding-left: 43px;
    font-family: Poppins Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

th , td {
    color: #FBFBFB;
    padding: 8px;
    text-align: left;
}

#plusperson {
    position: absolute;
    left: 15px;
    top: 10px;
}

#hat {
    border: none;
    height: 108px;
    border-radius: 10px;
    background: #323232;
    z-index: 4;
}

#blackTable {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;
    height: 100vh; /* Set the height of the container to the viewport height */
}

#bar {
    position: absolute;
    z-index: 3;
    text-indent: 40px; 
    color: #FBFBFB;
    font-family: Poppins Variable;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    width: 25%;
    margin-bottom: 10px;
    height: 45px; 
    border-radius: 12px;
    border: 2px solid #FBFBFB;
    color: white;
    background: rgba(217, 217, 217, 0.00);
}

#bar::placeholder{
    color: #FBFBFB;
    text-indent: 0px;
    position: absolute;
    left: 45px;
}

#topper{
    border-radius: 10px 10px 0px 0px;
    background: #212121;
}

.column{
    color: #FBFBFB;
    font-family: Poppins Variable;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#col1 {
    width: 8%;
}

#col2 {
    width: 10%;
}

#col3 {
    width: 19%;
}

#col4 {
    width: 22%;
}

#col5 {
    width: 22%;
}

#col6 {
    width: 7%;
}

#col7 {
    width: 6%;
}

#blank2 {
    width: 8%;
}

#cid2{
    width: 10%;
}

#contact_name2{
    width: 19%;
}   

#email2{
    width: 22%;
}   

#phone2 {
    width: 22%;
}

#edit_button2{
    width: 7%;
}

#trash_button2{

    width: 6%;
}

tr {
    border-top: 1px solid black;
  
}

body {
    background-color: #DDD0C8;
}

#row {
    
}
#save{
    width: 33px;
    height: 3px;
}